* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100vh;
}

main.container {
    padding-bottom: 1%;
}

form {
    padding: 1rem;
}

h1 h2 {
    color: #333;
}

thead td {
    background: lightgrey;
    text-align: center;
}

td {
    border: 2px solid black;
}

td.title {
    padding: 12px 61px;
}

tr {
    border: 2px solid black;
}

table tr:nth-child(even) {
    background-color: #e6e6e6
}

table th {
    background-color: #9e9e9e;
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #ffffff
}

thead {
    background-color: darkgrey;
    color: white;
}

tbody td {
    text-align: center;
}

header {
    border-bottom: 1px solid #E2E8F0;
    position: sticky;
    top: 0;
    background: #f1f1f1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    width: 10%;
}

table {
    margin-bottom: 20%;
}

#id_column {
    width: 15%;
    text-align: center;
}

#name {
    width: 28%;
    text-align: center;
    padding: 3.5%;
}

input#title {
    padding: 2.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

select {
    width: 75%;
    margin-bottom: 5%;
}

.table_test {
    margin-bottom: 20%;
}

.citations {
    border: 2px solid black;
    margin-bottom: 5%;
}

a.add_project {
    float: right;
    margin-right: 29%;
}

a.come_back {
    float: left;
    text-decoration: none;
    color: black;
}

a.come_back:hover {
    color: aqua;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: #333;
    padding: 2.5%;
}

.footer p {
    color: #ddd;
    margin: 0;
}

.text-center {
    text-align: center;
}

li {
    display: inline-flex;
    margin: 1rem;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: aqua;
}

tr {
    border: 2px solid black;
}

form.project_create {
    border: 2px solid black;
    width: 50vh;
    margin-top: 0%;
    margin-left: 50%;
}

form.project_update {
    border: 2px solid black;
    width: 50vh;
    margin-top: 5%;
    margin-left: 34%;
}


/* media queries */
@media (max-width: 776px) {
    form.project_create {
        border: 2px solid black;
        width: 50vh;
        margin-top: 2%;
        margin-left: 2%;
    }

    a.come_back {
        margin-left: 46%;
    }

    .nav-logo {
        width: 30%;
    }
}

/* Animation sur la page d'accueil*/
.anim_home {
    -webkit-animation: bounce-in 1s ease 0s 1 normal;
    -moz-animation: bounce-in 1s ease 0s 1 normal;
    -ms-animation: bounce-in 1s ease 0s 1 normal;
    animation: bounce-in 1s ease 0s 1 normal;
}

@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.0);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.addAuthor {
    background-color: blue;
    border-radius: 28px;
    border: 1px solid blue;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.addAuthor:active {
    position: relative;
    top: 1px;
}

a {
    color: red;
}

/* Media query for navbar and burger menu*/
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-logo {
        width: 30%;
    }
}

/* Media query */
@media (max-width: 600px) {
    .column {
        margin-bottom: 1rem;
    }

    .nav-logo {
        width: 30%;
    }
}

/*Media query*/
@media (max-width: 550px) {
    .container h2, p {
        text-align: center;
    }

    a.come_back {
        margin-left: 46%;
    }

    .nav-logo {
        width: 30%;
    }
}